body{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    background-color: #343A40;
    text-align: center;
}

nav{ 
    color: #ADB5BD;
    animation: nav-load 700ms;
}

nav ul{
    font-size: 25px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

nav li{
    
    list-style: none;
    padding: 0px 20px;
    margin: 0 10px;
}

nav li:hover {
    border-radius: 10%;
    color: #2D6A4F;
}

img{
    animation: img 700ms;
    margin: 0px;
    border-radius: 50%;
    height: 250px;
    
}

.presentation{
    animation: presentation 700ms;
    position: relative;
    font-size: 48px;
    color: #ADB5BD;
}

#alex{
    font-weight: bold;
}

@keyframes nav-load {
    0% {
        transform: translateY(-1000%);
    }

    90% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes img {
    0% {
        transform: translateY(-50%);
    }

    90% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes presentation {
    0% {
        transform: translateY(-50%);
    }

    90% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}