body{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    background-color: #343A40;
    text-align: center;
}

nav{ 
    color: #ADB5BD;
    animation: nav-load 1.5s;
    font-size: 30px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    padding: 30px;
    margin: 0 10px;
    color: inherit;
}

nav a:hover {
    color: #2D6A4F;
}

img{
    animation: presentation 1.5s;
    margin-top: 10px;
    border-radius: 50%;
    height: 250px;
}

.presentation{
    animation: presentation 1.5s;
    position: relative;
    font-size: 48px;
    color: #ADB5BD;
}

#alex{
    font-weight: bold;
}

#quote{
    margin: 100px;
    height: 130px;
    font-size: 25px;
    font-family: 'Just Another Hand', cursive;
    animation: quote 2s;
    color: #C1BDB3;
}

h1{
    width: 100%;
    color:#2D6A4F;
    background-color: #99A1A6;
    display: flex;
    justify-content: flex-start;
}

h2{ 
    font-size: 48px;
    display: flex;
    justify-content: center;;
    flex-shrink: 3;
    color: #ADB5BD;
}

.project-list a{
    padding: 30px;
    text-decoration: none;
    font-size: 30px;
    color: inherit;
    color:#6DB49B;
}

.project-list a:hover{
    color:#A7D694; 
}

.bottom-container{
    width: 100%;
    position:absolute;
    bottom:1;
    left:0;
    color: #FFFFFF;
    background-color: #2d3436;
    height: 150px;
}

.bottom-container a{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 30px;
    line-height: 4;
    color: #ADB5BD;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
}

.bottom-container a:hover{
    color: #2D6A4F;
}

.bottom-container p{
    color: #395B64;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
}

.myButton {
	
	background:linear-gradient(to bottom, #A7D694 15%, #6DB49B 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:normal;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin:30px 0px 40px 0px;
}

.myButton:hover {
	background:linear-gradient(to bottom, #6DB49B 15%, #A7D694 100%);
	background-color:#408c99;
}

.myButton:active {
	position:relative;
	top:1px;
}

#contact{
    font-size: 25px;
    color:#A7D694;
}


@keyframes nav-load {
    0% {
        transform: translateY(-1000%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes presentation {
    0% {
        transform: translateY(-50%);
    }
    from { opacity: 0; }
    to   { opacity: 1; }
    100% {
        transform: translateY(0);
    }
}

@keyframes quote {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 600px){
    body{
        background-color:#6DB49B;
    }
    h2{
        font-size: 60px;
    }
    p{
        font-size: 20px;
    }
}