body{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    background-color: #343A40;
    text-align: center;
}

nav{ 
    color: #ADB5BD;
    animation: nav-load 1.5s;
    font-size: 25px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

nav a{
    text-decoration: none;
    padding: 15px 20px;
    margin: 0 10px;
    color: inherit;
}

nav a:hover {
    border-radius: 10%;
    color: #2D6A4F;
}

img{
    animation: img 1.5s;
    margin: 0px;
    border-radius: 50%;
    height: 250px;
    
}

.presentation{
    animation: presentation 1.5s;
    position: relative;
    font-size: 48px;
    color: #ADB5BD;
}

#alex{
    font-weight: bold;
}

#quote{
    margin-top: 100px;
    height: 150px;
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
    animation: quote 1.5s;
    color: #C1BDB3;
}


h1{
    width: 100%;
    color:#2D6A4F;
    background-color: #99A1A6;
    
    display: flex;
    justify-content: flex-start;
}

@keyframes nav-load {
    0% {
        transform: translateY(-1000%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes img {
    0% {
        transform: translateY(-50%);
    }

    from { opacity: 0; }
    to   { opacity: 1; }

    100% {
        transform: translateY(0);
    }
}

@keyframes presentation {
    0% {
        transform: translateY(-50%);
    }
    from { opacity: 0; }
    to   { opacity: 1; }
    100% {
        transform: translateY(0);
    }
}

@keyframes quote {
    from { opacity: 0; }
    to   { opacity: 1; }
}